@import url('https://fonts.googleapis.com/css2? family = Poppins & display = swap');
* {
    font-family: 'Poppins', sans-serif;
}

.lista {
    list-style: none;
    padding: 0;
}

main {
    background-color: rgb(235, 238, 235);
}


/* Login */

.googleFace {
    width: 100%;
    height: 40px;
    text-align: center;
    outline: none;
}


/* Index */

.listaindex {
    list-style: none;
    padding: 0px;
}

@media all and (max-width: 767px) {
    .map-sm-responsive {
        width: 330px;
        height: 330px;
    }
    .carousel-sm-responsive {
        object-fit: cover;
        height: 192px;
    }
    .buscador {
        width: 70%;
        margin-right: 8px;
    }
    .title-sm {
        font-size: 40px;
    }
    .subtitle-sm {
        font-size: 35px;
    }
}

@media all and (min-width:768px) and (max-width: 1020px) {
    .map-md-responsive {
        width: 500px;
        height: 300px;
    }
    .carousel-md-responsive {
        object-fit: cover;
        height: 265px;
    }
    .card-md-responsive {
        object-fit: cover;
        height: 330px;
    }
}